* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
background-image: url("https://previews.123rf.com/images/exsodus/exsodus1102/exsodus110200025/8927332-natural-green-leaf-frame-on-white-background.jpg");
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
main {
  width: 50vw;
  margin: auto;
  background: #88CA00;
  /* background-color: rgb(202, 97, 97); */
  margin-top: 3%;
}
h1 {
  text-align: center;
  color:white;
}
#word-counter,#count-characters {
  width: 30%;
  background-color: #edf2e3;
  height: 3rem;
 
  margin-top: 3%;
  font-size: 1.3rem;
  text-align: center;
  /* padding: 3px; */
  color: rgb(16, 57, 4);
  border: 2px solid #103904;
  cursor: pointer;
}
textarea {
  width: 80%;
  margin: auto;
  display: grid;
  background-color: rgb(139, 247, 114);
  font-size: 20px;
  margin-top: 5%;
  font-style: italic;
  border: 2px solid rgb(16, 57, 4);
}
section,aside {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#description{
    color:  rgb(18, 50, 8);
    text-align: center;
    font-size: 1.5rem;
    margin-top: 3%;
    font-weight: bold;


}
#character-remaining {
  margin-top: 5%;
  padding: 5px;
  font-size: 1.5rem;
  color: rgb(40, 107, 20);
}
#total-written {
  margin-top: 5%;
  padding: 10px;
  font-size: 1.5rem;
  color: rgb(40, 107, 20);
}
span {
  padding: 10px;
}
